# Django sozlamalari
DEBUG=True
SECRET_KEY=django-insecure-test-key-change-this-in-production
ALLOWED_HOSTS=*

# PostgreSQL ma'lumotlari
DB_NAME=saas_pos_db
DB_USER=postgres
DB_PASSWORD=dukon
DB_HOST=localhost
DB_PORT=5432
